:root {
  font-family: 'Bartina', system-ui, sans-serif;
  background-color: #f5f9ff;
  color: #213547;
  margin: 0;
}

@font-face {
  font-family: 'Bartina';
  src: url('/fonts/Bartina-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Bartina';
  src: url('/fonts/Bartina-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Manrope';
  src: url('/fonts/Manrope-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

body {
  margin: 0;
  min-height: 100vh;
}